[include]
  path = ~/.gitconfig-private
[include]
  path = ~/.gitconfig-local
[user]
  name = Tammer Saleh
  email = me@tammersaleh.com
[color]
  status = auto
  diff = auto
  branch = auto
  ui = true
[alias]
  aliases    = config --get-regexp "alias.*"
  push-branch = !bash -c 'git push --set-upstream origin "$(git current-branch)"'
  delete-branch = !bash -c 'git branch -d $0 && git push origin --delete $0'
  track      = !bash -c 'git fetch origin && git branch --set-upstream $0 origin/$0 && git checkout $0'
  publish    = push -u origin
  ql         = log --abbrev-commit --decorate --pretty=format:'%Cred%cn%Creset: %Cred%h%Creset %s %Cblue%ar%Creset' --graph
  latest     = for-each-ref --sort=-committerdate refs/heads --format='%(committerdate:short) %(refname:short)'
  c          = commit -m
  a          = add -A
  wwgd       = add -A --dry-run
  st         = status -sb
  ci         = commit -v
  co         = checkout
  br         = branch -av
  conflicts  = !git st | grep unmerged: | cut -c 15-
  modified   = ls-files -m
  append     = commit --amend --no-edit
  last       = log @{1}.. --decorate --reverse --stat -C --no-merges
  nuke       = !git clean -df && git reset --hard
  bl         = blame -wMC
  suir       = submodule update --init --recursive
  pr         = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean   = "!git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
  files-in-commit = diff-tree --no-commit-id --name-only -r
  current-branch = rev-parse --abbrev-ref HEAD
  update = "!git fetch upstream && git rebase \"upstream/$(git current-branch)\""
  mine = "br --list '*tsaleh*'"
[merge]
  tool = opendiff
  summary = true
[diff]
  wordRegex = [^[:space:]]
  submodule = log
[core]
  excludesfile = ~/.gitglobalignore
  whitespace = trailing-space,space-before-tab,tab-in-indent
  pager = diff-so-fancy | less --tabs=4 -RFX
[pager]
  # diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
[status]
  relativePaths = false
  submodulesummary = 1
[apply]
  whitespace = nowarn
[rerere]
  enabled = 1
[gh]
  autoUpdate = always
[filter "lfs"]
  required = true
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
[hub]
  protocol = https
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
