/.config/gcloud
/.config/gh-update
/.config/keybase/
/.envrc
/.git
/.ptpython/history
/.vim/plugged/*
/.vim/backups/*
/.vim/info
/.vim/undo
.vim/localvimrc_persistent
/.vim/view
/.config/direnv/allow
/.aws/cli/cache/*
tags

!.gitkeep
