[include]
    path = ~/.gitconfig-private
[include]
    path = ~/.gitconfig-local
[column]
    ui = auto
[user]
    name = Tammer Saleh
    email = me@tammersaleh.com
    signingkey = 6EFD49B64C131F81
[includeIf "hasconfig:remote.*.url:https://github.com/getditto/**"]
    path = ~/.gitconfig-ditto
[includeIf "hasconfig:remote.*.url:git@github.com:getditto/**"]
    path = ~/.gitconfig-ditto
[includeIf "hasconfig:remote.*.url:https://github.com/superorbital/**"]
    path = ~/.gitconfig-superorbital
[includeIf "hasconfig:remote.*.url:git@github.com:superorbital/**"]
    path = ~/.gitconfig-superorbital
[alias]
    aliases         = !bash -c 'git config --get-regexp "alias.*" | cut -c 7-'
    last            = log @{1}.. --decorate --reverse --stat -C --no-merges
    bl              = blame -wMC

    ci              = commit -v
    append          = commit --amend --no-edit
    fixup           = commit --fixup
    br              = branch -av --sort=-committerdate --format='%(HEAD) %(align:1,40)%(color:yellow)%(refname:short)%(color:reset)%(end) %(color:green)%(committerdate:relative)%(color:reset) - %(contents:subject) - %(authorname)'
    mine            = br --list 'tammersaleh*'
    br-latest       = for-each-ref --sort=-committerdate refs/heads --format='%(committerdate:short) %(refname:short)'
    a               = add

    br-delete-local-orphans = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"


    uncommit        = reset --soft HEAD^
    unstage         = reset

    ls                 = ls-files -mo --exclude-standard
    ls-modified        = ls-files -m
    ls-files-in-commit = diff-tree --no-commit-id --name-only -r
    ls-staged          = diff --name-only --cached
    ls-untracked       = ls-files --others

    url = browse -u

    ; a               = add -A ; Encouraged laziness.
    ; current-branch  = rev-parse --abbrev-ref HEAD
    ; suir            = submodule update --init --recursive --jobs=4


[merge]
    # tool = opendiff
    # summary = true
    conflictstyle = zdiff3
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    submodule = log
    wordRegex = [^[:space:]]
[core]
    excludesfile = ~/.gitglobalignore
    whitespace = trailing-space,space-before-tab,tab-in-indent
    # https://github.com/dandavison/delta
    pager = delta
    preloadindex = true
[status]
    relativePaths = false
    submodulesummary = true
[apply]
    whitespace = nowarn
[rerere]
    enabled = true
[gh]
    autoUpdate = always
[hub]
    protocol = https
[rebase]
    autosquash = true
    autostash = true
    updateRefs = true
[gc]
    auto = 256
[pull]
    rebase = true
[hooks]
    gitleaks = true
[interactive]
    # https://github.com/dandavison/delta
    diffFilter = delta --color-only
[filter "lfs"]
    required = true
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process 
    clean = git-lfs clean -- %f
[init]
    defaultBranch = main
[delta]
    features = decorations navigation
    light = false
    navigate = true
    line-numbers = true
    hyperlinks = true
[delta "decorations"]
    file-style = bold green ul
    hunk-header-style = omit 
    zero-style = darkslategray normal

    # minus-style = normal pink
    # plus-style = normal palegreen
    # minus-emph-style = normal red
    # plus-emph-style  = normal green
    # minus-non-emph-style = normal normal
    # plus-non-emph-style = normal normal

    minus-style = red strike
    minus-emph-style = normal darkred strike
    minus-non-emph-style = normal normal

    plus-style = green bold
    plus-emph-style = "#000000 green bold"
    plus-non-emph-style = normal normal

[push]
    # https://twitter.com/JI/status/1546948817462800384
    autoSetupRemote = true
    default = simple
    autoSetupMerge = true
    followTags = true
[commit]
    verbose = true
    gpgsign = true
[credential]
    helper = osxkeychain
[credential "https://github.com"]
    helper = 
    helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/opt/homebrew/bin/gh auth git-credential
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
    prune = true
    prunetags = true
    all = true
[receive]
    fsckobjects = true
[submodule]
    recurse = true
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
    gpgSign = true
[log]
    date = iso
[http]
    postBuffer = 157286400
